
# ==============================================================================
# Build Directory
# ------------------------------------------------------------------------------

final

# ==============================================================================
# Hidden and Temporary Files
# ------------------------------------------------------------------------------

.*
!.gitignore
!.jscsrc
!.build.config.js

*~
.*.swp
.*.swo

# ==============================================================================
# Log Files
# ------------------------------------------------------------------------------

logs
*.log
npm-debug.log*

# ==============================================================================
# OS Specific Temporary Files
# ------------------------------------------------------------------------------

.DS_Store
Thumbs.db

# ==============================================================================
# Node Modules
# ------------------------------------------------------------------------------

node_modules

# ==============================================================================
# rc Files
# ------------------------------------------------------------------------------

.reviewboardrc

# ==============================================================================
# Documentation Directory
# ------------------------------------------------------------------------------

docs

/node_modules
